@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

body {
    background-color: burlywood;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

h1 {
    font-size: 100px;
}

#container {
    background-color: pink;
}

p {
    font-family: 'Reem Kufi Ink', sans-serif;
    display: inline-flex;  
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}